include layout/header.html
div
  .container
    h1 All Method
    .row
      .col
        .card
          .card-header Method
          .card-body
            .row
              .col Time
              .col Profit
          .card-footer
            a.btn.btn-sm.btn-info Use
            a.btn.btn-sm.btn-outline-primary(href="/task") Views
      .col
        .card
          .card-header Method
          .card-body
            .row
              .col Time
              .col Profit
          .card-footer
            .btn.btn-sm.btn-info Use
      .col
        .card
          .card-header Method
          .card-body
            .row
              .col Time
              .col Profit
          .card-footer
            .btn.btn-sm.btn-info Use
      .col
        .card
          .card-header Method
          .card-body
            .row
              .col Time
              .col Profit
          .card-footer
            .btn.btn-sm.btn-info Use

include layout/footer.html
script(type="text/javascript").
  if (10 == 10) {
    alert("working");
  }